@use '../../global/forward' as *;

.drawer__nav {
    display: none;
    @include mq(sp) {
        display: block;
        position: fixed;
        top: rem(64);
        right: 0;
        width: 100%;
        height: calc(100vh - rem(64));
        background-color: $color-primary;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        z-index: 998;
    }
}

.drawer__nav.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.drawer__nav a {
    transition: 0.4s;
    display: block;
    height: inherit;
    align-items: center;
}

.drawer__list {
    font-family: $font-base;
    font-size: rem(16);
    font-weight: 700;
    line-height: rem(16);
    text-align: left;
    text-decoration-skip-ink: none;
    color: $color-white;
    align-items: center;
}

.drawer__list span {
    width: rem(24);
    margin-inline-end: rem(12);
    box-sizing: border-box;
}

.drawer__item {
    border-bottom: 1px solid $color-white;
    padding-block: rem(24);
    padding-inline-start: rem(16);
    list-style: none;
    color: $color-white;
}

.drawer__item:last-child {
    margin-block-end: 0;
    display: flex;
}

.drawer__item img {
    width: rem(24);
    margin: 0;
    padding: 0;
}

.drawer__background {
    display: none;
}
