@use '../../global/forward' as *;

.menu {
    display: none;
    @include mq(sp) {
        z-index: 1000;
        width: rem(64);
        height: rem(64);
        border: none;
        background-color: $color-text;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.menu__icon {
    position: relative;
    width: rem(24);
    height: rem(18);
}

.menu__icon span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-white;
    transition: 0.3s;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.menu__icon span:nth-child(3) {
    bottom: 0;
}

.menu__item {
    font-size: rem(10);
    color: $color-white;
    text-align: center;
    margin-block-start: rem(4);
}

.menu.active .menu__icon span:nth-child(1) {
    transform: rotate(45deg);
    top: rem(8);
}

.menu.active .menu__icon span:nth-child(2) {
    opacity: 0;
}

.menu.active .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: rem(8);
}
