// カラー
$color-primary:       #007FC6;
$color-gradient-from: #02D1FF;
$color-bg-gray:       #F9F9F9;
$color-text:          #333333;
$color-white:         #fff;
$color-error:         #F90000;
$color-accent:        #F47500;

// フォント
$font-base:   'Noto Sans JP', sans-serif;
$font-accent: 'Goldman', sans-serif;
