@use '../global/forward' as *;

#feature {
    margin-inline: auto;
}

.feature__menu {
    margin-inline: auto;
    text-align: center;
}

.feature__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, rem(480)));
    gap: rem(24);
    justify-content: center;
    margin-block-start: rem(51);
    @include mq(sp) {
        grid-template-columns: minmax(0, rem(480));
    }
}

.feature__item {
    border: 1px solid $color-primary;
    padding-block: rem(14) rem(21);
    padding-inline: rem(30);
}

.feature__img {
    width: rem(116);
    display: block;
    margin-inline: auto;
}
.feature__img img {
    width: 100%;
    height: auto;
}

.feature__title {
    margin-block-start: rem(19);
    font-size: rem(20);
    font-weight: 700;
    line-height: 1.5;
    color: $color-accent;
}

.feature__lead {
    font-weight: 400;
    font-size: rem(16);
    line-height: 1.8;
    color: $color-text;
    margin-block-start: rem(19);
    text-align: left;
}
