@use '../global/forward' as *;

.hero {
    width: 100%;
    margin-inline: auto;
    background: linear-gradient(287.03deg, $color-gradient-from 0%, $color-primary 100%);
    padding-block-start: 96px;

    @include mq(sp) {
        padding-block-start: rem(40);
        padding-block-end: 0;
    }
}

.hero__inner {
    width: min(calc(rem(1172) + rem(40) * 2), 100%);
    margin-inline: auto;
    padding-inline: rem(40);
    color: $color-white;
    padding-block-end: 0;

    @include mq(sp) {
        max-width: rem(500);
        padding-inline: rem(15);
        padding-block-end: rem(26);
    }
}

.hero__cols {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-block-start: rem(84);

    @include mq(sp) {
        display: flex;
        flex-direction: column;
        padding-block-start: rem(64);
    }
}

.hero__left {
    position: relative;

    @include mq(sp) {
        flex: none;
        padding-block-end: rem(50);
    }
}

.hero__text {
    text-align: left;

    @include mq(sp) {
        text-align: center;
    }
}

.hero__copy {
    font-size: rem(20);
    font-weight: 400;
    line-height: 1.5;

    @include mq(sp) {
        font-size: rem(14);
    }
}

.hero__catch {
    font-size: rem(56);
    font-weight: 700;
    line-height: 1.5;

    @include mq(sp) {
        font-size: rem(24);
        line-height: 1.8;
        margin-block-start: rem(18);
    }
}

.hero__read {
    font-size: rem(20);
    font-weight: 400;
    line-height: 1.5;
    margin-block-start: rem(28);

    @include mq(sp) {
        font-size: rem(14);
        margin-block-start: rem(24);
        line-height: 1.8;
    }
}

.hero__list {
    width: 100%;
    text-align: left;
    margin-inline: 0;
    margin-inline-start: 2%;
    padding-block-start: 1%;

    @include mq(sp) {
        text-align: center;
        margin-inline: auto;
        margin-inline-start: 0;
    }
}

.hero__about {
    display: grid;
    grid-template-columns: repeat(3, rem(164));
    gap: rem(22);
    margin-block-start: rem(32);
    margin-inline: 0;

    @include mq(sp) {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(4);
        margin-block-start: rem(16);
        margin-inline: auto;
    }
}

.hero__about li {
    background-color: $color-white;
    color: $color-primary;
    border-radius: 50%;
    height: rem(164);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include mq(sp) {
        height: rem(112);
        width: rem(112);
    }
}

.hero__item {
    font-size: rem(24);
    font-weight: 700;
    line-height: 1;

    @include mq(sp) {
        font-size: rem(16);
    }
}

.hero__detail {
    font-size: rem(32);
    margin-block-start: rem(22);
    font-weight: 700;
    margin-inline-start: rem(5);
    letter-spacing: 1px;

    @include mq(sp) {
        font-size: rem(18);
        margin-block-start: rem(18);
    }
}

.hero__detail span {
    font-size: rem(12);
    vertical-align: top;
    color: $color-text;
    margin-inline-start: -2px;
}

.hero__detail #span {
    font-size: rem(24);
    vertical-align: middle;
    color: $color-primary;
    margin-inline-start: rem(2);

    @include mq(sp) {
        font-size: rem(18);
    }
}

.hero__note {
    font-size: rem(12);
    font-weight: 400;
    line-height: 1;
    text-align: left;
    margin-block-start: rem(32);
    margin-inline: 0;

    @include mq(sp) {
        margin-block-start: rem(24);
        margin-inline: auto;
    }
}

.hero__note p:nth-child(2) {
    margin-block-start: rem(5);
}

.hero__job-listing {
    width: clamp(rem(220), 24vw, rem(360));
    margin-block-start: -12%;
    margin-inline-start: 66%;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    @include mq(sp) {
        margin-block-start: -2%;
        width: 100%;
        margin-inline: auto;
    }
}