@use '../global/forward' as *;

.works {
    background-color: $color-white;
    color: $color-text;
    width: 100%;
}

.works__inner {
    max-width: rem(880);
    text-align: center;
    padding-inline: rem(18);
}
.works__title {
    @include mq(sp) {
        font-size: rem(20);
        line-height: 1;
    }   
}
.works__logo {
    display: flex;
    margin-inline: auto;
    justify-content: center;
    gap: rem(80);
    padding-block-start: 4%;
    @include mq(sp) {
        display: flex;
        flex-direction: column;
        gap: 0;
        padding-block-start: 8%;
        padding-inline: rem(30);
    }  
}
.works__logo img {
    width: 100%;
    max-width: rem(428);
    height: auto;
}

.works__logo img:nth-child(2) {
    margin-block-start: rem(8);
    width: 82%;
    @include mq(sp) {
        width: 100%;
    }
}
.l-section.--work {
    padding-block-start: rem(70);
    @include mq(sp) {
        padding-block-start: rem(40);
    }
}
